<div class="container">
  <div class="header">
    <h2 class="title">Products List</h2>
    <button mat-flat-button (click)="onLogout()" class="logout-btn">
      logout
    </button>
  </div>
  <div class="row-actions">
    <mat-form-field style="margin-right: 50px">
      <mat-label>Category</mat-label>
      <mat-select [(value)]="selectedCategory" (selectionChange)="onCategoryChange($event)">
        @for (category of categories; track category) {
          <mat-option [value]="category">{{ category }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Limit</mat-label>
      <mat-select [(value)]="selectedLimit" (selectionChange)="onLimitChange($event)">
        @for (limit of limits; track limit) {
          <mat-option [value]="limit">{{ limit }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
  <div class="table-container">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID</th>
        <td mat-cell *matCellDef="let element"> {{ element.id }}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Title</th>
        <td mat-cell *matCellDef="let element"> {{ element.name }}</td>
      </ng-container>
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> Category</th>
        <td mat-cell *matCellDef="let element"> {{ element.category }}</td>
      </ng-container>
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price</th>
        <td mat-cell *matCellDef="let element"> {{ element.price }}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-flat-button (click)="onShowDetail(element)" class="open-btn">
            open
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
    </table>
  </div>
</div>
