.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: start;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  margin-right: 20px;
}

hr {
  width: 100%;
  border: 0;
  height: 1px;
  background: #ccc;
  margin: 20px 0;
}

img {
  width: 250px;
  height: 250px;
  object-fit: contain;
  align-self: center;
}

.row-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
