.container {
  height: 100vh;
  background-color: #fff;
  display: list-item;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.form-container {
  background-color: #fff;
  margin-top: 20px;
  padding: 40px;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.form-group {
  width: 100%;
  margin-top: 20px;
}

button {
  width: 100%;
  margin-top: 20px;
}

.title {
  text-align: center;
  font-size: 24px;
}

.subtitle {
  text-align: center;
  margin-top: 10px;
}

.login-btn {
  color: white !important;
  background-color: #008053 !important;
}
